.logout-container {
    width: 300px;
    /* Adjust width as needed */
}

.avatar-container {
    margin-bottom: 10px;
}

.email {
    margin-bottom: 10px;
}

.button-container {
    margin-top: 10px;
}

.logout-button {
    margin-top: 10px;
}

.edit {
    margin-top: 20px;

}

.logout {
    margin-top: 20px;
}