.App {

    .container {
        display: flex;
        background-color: rgb(236, 239, 247);

        .link {
            text-decoration: none;
            color: inherit;
        }

        .others {
            flex: 5;
            margin: 20px;
        }
    }
}